*{
    padding:0px;
    margin:0px;
}
ul,ol{
    list-style-type: none;
}
a{
    color: #666;
    text-decoration: none;
}
.left{
    float: left;
}
.right{
    float: right;
}
#accesory,#footer{
    width: 100%;
    height: 100px;
    border: 1px solid #DBBF96;
}
#header,#nav{
	width: 100%;
    height: 100px;
}
.container{
    width: 1280px;
    margin: 0px auto;
}

/* 页面头部样式 */
#header{
    height: 120px;
    background-color: rgb(233, 224, 212);
}
#header .qz{
    width: 220px;
    height: 110px;
    background: url("../img/qz.png") no-repeat;

}
#header .header_left div{
    float: left;
    margin: 5px 10px 0px;
}


#nav{
	height: 90px;
	background-color: rgb(233, 224, 212);
}
#nav li{
	border-right: 2px  #DFDFDF  solid;
	background-color: #EEEEEE;
	padding-right: 40px;
	padding-left: 40px;
	font-size: 20px;
    float: left;
    line-height: 90px;
}
#nav li a{
    color: #666666;
    font-weight: bold;
}
#nav li a:hover{
    color: #A78E6A;
}
/* 2.1 */
#accessory1{
    height: 730px;
	overflow: hidden;
	background-color: rgb(233, 224, 212);
	
}
#accessory1 .acc_main{
    width: 1400px;
	margin: 10px 75px ;
}
#accessory1 .left>div{
	float: left;
}
#accessory1 .lb{
	width:200px;
	height: 700px;
	border: 5px solid #EAEAEA;
	background-color: #fff;
	padding-top: 20px;
	box-sizing: border-box;
	margin-right: 20px;
}
#accessory1 .lb h2{
	text-align:left;
	margin-bottom: 20px;
	padding-left: 60px;
}
#accessory1 .lb ul{
	padding-top: 20px;
	height:160px;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}
#accessory1 .lb ul li{
	float: left;
	width: 195px;
	height: 40px;
}
#accessory1 .lb li a{
	padding-left: 40px;
}
#accessory1 .lb a:hover{
	color: #A78E6A;
}
#accessory1 .lb li.xz{
	background-color: #EAEAEA;
}
#accessory1 .acc_all{
    width: 900px;
	height: 700px;
	border: 3px solid #EAEAEA;
	background-color: #fff;
	padding: 20px;
	box-sizing: border-box;
}
#accessory1 .zw{
	margin: 10px 20px;
}
#accessory1 h3{
	margin: 10px; 
}
#accessory1 .zw p{
	line-height:25px;
}

/* 2.2 */
#accessory2{
    height: 600px;
	overflow: hidden;
	background-color: rgb(233, 224, 212);
	
}
#accessory2 .acc_main{
    width: 1400px;
	margin: 10px 75px ;
}
#accessory2 .left>div{
	float: left;
}
#accessory2 .lb{
	width:200px;
	height: 570px;
	border: 5px solid #EAEAEA;
	background-color: #fff;
	padding-top: 20px;
	box-sizing: border-box;
	margin-right: 20px;
}
#accessory2 .lb h2{
	text-align:left;
	margin-bottom: 20px;
	padding-left: 60px;
}
#accessory2 .lb ul{
	padding-top: 20px;
	height:160px;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}
#accessory2 .lb ul li{
	float: left;
	width: 195px;
	height: 40px;
}
#accessory2 .lb li a{
	padding-left: 40px;
}
#accessory2 .lb a:hover{
	color: #A78E6A;
}
#accessory2 .lb li.xz{
	background-color: #EAEAEA;
}
#accessory2 .acc_all{
    width: 900px;
	height: 570px;
	border: 3px solid #EAEAEA;
	background-color: #fff;
	padding: 20px;
	box-sizing: border-box;
}
#accessory2 .zw{
	margin: 10px 20px;
}
#accessory2 .zw h3{
	margin: 10px; 
}
#accessory2 .zw p{
	line-height:25px;
}

/* 2.3 */
#accessory3{
    height: 600px;
	overflow: hidden;
	background-color: rgb(233, 224, 212);
	
}
#accessory3 .acc_main{
    width: 1400px;
	margin: 10px 75px ;
}
#accessory3 .left>div{
	float: left;
}
#accessory3 .lb{
	width:200px;
	height: 570px;
	border: 5px solid #EAEAEA;
	background-color: #fff;
	padding-top: 20px;
	box-sizing: border-box;
	margin-right: 20px;
}
#accessory3 .lb h2{
	text-align:left;
	margin-bottom: 20px;
	padding-left: 60px;
}
#accessory3 .lb ul{
	padding-top: 20px;
	height:160px;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}
#accessory3 .lb ul li{
	float: left;
	width: 195px;
	height: 40px;
}
#accessory3 .lb li a{
	padding-left: 40px;
}
#accessory3 .lb a:hover{
	color: #A78E6A;
}
#accessory3 .lb li.xz{
	background-color: #EAEAEA;
}
#accessory3 .acc_all{
    width: 900px;
	height: 570px;
	border: 3px solid #EAEAEA;
	background-color: #fff;
	padding: 20px;
	box-sizing: border-box;
}
#accessory3 .zw{
	margin: 10px 20px;
}
#accessory3 .zw h3{
	margin: 10px; 
}
#accessory3 .zw p{
	line-height:25px;
}

/* 2.4 */
#accessory4{
    height: 600px;
	overflow: hidden;
	background-color: rgb(233, 224, 212);
	
}
#accessory4 .acc_main{
    width: 1400px;
	margin: 10px 75px ;
}
#accessory4 .left>div{
	float: left;
}
#accessory4 .lb{
	width:200px;
	height: 570px;
	border: 5px solid #EAEAEA;
	background-color: #fff;
	padding-top: 20px;
	box-sizing: border-box;
	margin-right: 20px;
}
#accessory4 .lb h2{
	text-align:left;
	margin-bottom: 20px;
	padding-left: 60px;
}
#accessory4 .lb ul{
	padding-top: 20px;
	height:160px;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}
#accessory4 .lb ul li{
	float: left;
	width: 195px;
	height: 40px;
}
#accessory4 .lb li a{
	padding-left: 40px;
}
#accessory4 .lb a:hover{
	color: #A78E6A;
}
#accessory4 .lb li.xz{
	background-color: #EAEAEA;
}
#accessory4 .acc_all{
    width: 900px;
	height: 570px;
	border: 3px solid #EAEAEA;
	background-color: #fff;
	padding: 20px;
	box-sizing: border-box;
}
#accessory4 .zw{
	margin: 10px 20px;
}
#accessory4 .zw h3{
	margin: 10px; 
}
#accessory4 .zw p{
	line-height:25px;
}

#footer{
	height: 80px;
	background-color: #2D2D2D;
}
#footer p{
	line-height: 30px;
    margin-left: 30px;
}
#footer p span{
	border-right: 1px solid #e4e4e4;
	padding-left: 10px;
}
#footer p a{
	color: #fff;
	margin: 0px 10px;
	padding-left: 10px;
}
#footer p a:hover{
	color: rgb(228, 203, 168);
}
#footer ul{
	margin-left: 250px;
}
#footer ul li{
	float: left;
	width: 150px;
	padding: 20px;
	color: #DFDFDF;
	font-size: 12px;
}